@model IEnumerable<MeterAppEntity.Model.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New Project", "CreateProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayName("Client Name")
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosureDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ProjectLink)
            </th>*@

        <th>
            @Html.DisplayName("Developers")
        </th>
        <th>
            @Html.DisplayName("Modules")
        </th>
        <th>
            @Html.DisplayName("Technologies")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosureDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProjectLink)
                    </td>*@
                <td>
                    @Html.ActionLink("Assign Developer", "AssignProjectDevelopers", new { id = item.ProjectId })
                </td>
                <td>
                    @Html.ActionLink("Add Modules", "AddModules", new { id = item.ProjectId })
                </td>
                <td>
                    @Html.ActionLink("Add Technologies", "CreateProjectTechnologies", new { id = item.ProjectId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProject", new { id = item.ProjectId }) |
                    @Html.ActionLink("Details", "DetailsProject", new { id = item.ProjectId }) |
                    @Html.ActionLink("Delete", "DeleteProject", new { id = item.ProjectId },
                 new { onclick = "return confirm('Are you sure you wish to delete this project?');" })
                </td>
            </tr>
        }
    }


</table>
